* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgb(182, 182, 171);
}

.container {
    background: #145474;
    padding: 20px;
    height: 500px;
    border-radius: 15px;
    width: 400px;
    border: 4px solid #082534;
}
.text {
    height: 70px;
    width: 350px;
    font-size: 40px;
    border-radius: 10px;
    border: 4px solid #082534;

}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}


.buttons1 {
    margin-top: 30px;
}

button {
    height: 60px;
    border: 2px solid #082534;
    border-radius: 10px;
    font-size: 22px;
    cursor: pointer;
    line-height: 10px;
    transition: 0.3s;

}
.backspace{
     background:rgb(173, 111, 111);
    color:white;

}

button:hover {
    opacity: 0.1;

}

.clearbtn{
    background:rgb(111, 111, 111);
    color:white;
} 